<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' id="theme" />
	<link href="https://fonts.googleapis.com/css?family=Chivo|Rubik+Mono+One|Work+Sans&display=swap" rel="stylesheet">



	{{> base/font}}


	<script inline src='head.js'></script>


	{{> base/analytics }}

	<style type="text/css">
		/*

			font-family: 'Rubik Mono One', sans-serif;
			font-family: 'Chivo', sans-serif;
			font-family: 'Work Sans', sans-serif;


		*/

		/* Style the lines by removing the fill and applying a stroke */
		.line {
			fill: none;
			stroke: #888888;
			stroke-width: 3;
		}

		.overlay {
			fill: none;
			pointer-events: all;
		}

		/* Style the dots by assigning a fill and stroke */
		.dot {
			stroke: #fff;
		}

		.focus circle {
			fill: none;
			stroke: steelblue;
		}

	</style>
</head>

<body>
	<main class="content reveal">
		<div class="slides">

			{{> story/intro }}
			{{> story/feature-lede}}
			{{> base/simulation1 }}
			{{> base/simulation2 }}
			{{> base/simulation3 }}
			{{> story/outro }}
		</div>
	</main>

	<script src='{{basepath}}assets/scripts/d3.v5.11.0.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>
	<script>
		// More info about config & dependencies:
		// - https://github.com/hakimel/reveal.js#configuration
		// - https://github.com/hakimel/reveal.js#dependencies
		(function () {
			// your page initialization code here
			// the DOM will be available here
			Reveal.initialize({
				slideNumber: true,
				hash: true,
				hideInactiveCursor: false,
				// for custom CSS
				width: "100%",
				height: "100%",
				margin: 0,
				minScale: 1,
				maxScale: 1,
				center: false,
				// Hack to get all the simulations to load
				// immediately so they can calculate sizes for
				// rendering SVGs
				viewDistance: 10,
				controlsBackArrows: 'visible',
				overview: false,

			});
		})()
	</script>

</body>

</html>
