<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<link inline rel='stylesheet' href='bundle.css' />
	{{!-- <link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/reveal.css"> --}}
	<link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">


	{{> base/font}}


	<script inline src='head.js'></script>


	{{> base/analytics }}

	<style type="text/css">
		/* 13. Basic Styling with CSS */

		/* Style the lines by removing the fill and applying a stroke */
		.line {
			fill: none;
			stroke: #888888;
			stroke-width: 3;
		}

		.overlay {
			fill: none;
			pointer-events: all;
		}

		/* Style the dots by assigning a fill and stroke */
		.dot {
			stroke: #fff;
		}

		.focus circle {
			fill: none;
			stroke: steelblue;
		}

	</style>
</head>

<body>
	<main id='content'>
		<div class="reveal">
			<div class="slides">
				{{!-- {{> story/intro }} --}}
				{{> story/feature-lede}}
				{{!-- {{> base/simulation1 }} --}}
				{{!-- {{> base/simulation2 }}
				{{> base/simulation3 }} --}}
				{{> story/outro }}
			</div>
		</div>
	</main>

	<script src='{{basepath}}assets/scripts/d3.v5.11.0.min.js'></script>
	<script src='main.js?version={{timestamp}}' async></script>

	<script>
		// More info about config & dependencies:
		// - https://github.com/hakimel/reveal.js#configuration
		// - https://github.com/hakimel/reveal.js#dependencies
		(function () {
			// your page initialization code here
			// the DOM will be available here
			Reveal.initialize();
		})()
	</script>
</body>

</html>
