.intro
	position fixed
	top 0
	left 0
	text-align left !important
	padding 3rem 2rem 3rem 2rem
	color $purple !important

	&__hed
		font-size 72px
		font-weight bolder
		

	&__dek
		max-width $column-width
		font-size 36px
		margin-top 2rem

	&__byline
		max-width $column-width
		margin 0 auto
		margin-top 2rem

		// Otherwise the link is black?
		a 
			color $purple !important
			border-bottom 2px solid $purple


.overflow
	position static
