/* CUSTOM STORY STYLE */


.nouislider-custom
  margin-top 20px
  margin-bottom 50px

/* SIMULATION 1 */
#simulation1-container
  display flex
  justify-content space-between

#simulation1-controls
  width 40%

#simulation1-svg
  height 400px


/* SIMULATION 2 */
#simulation2-container
  display flex
  flex-wrap wrap
  justify-content space-between

.precinct-container
  width 18%

  > p
    margin 5px
    font-size 14px


#simulation2-stepper
  margin-top 25px
  margin-bottom 40px

#running-total-container
  width 100%
  height 500px

  > svg
    width 100%
    padding-left 20px
    padding-right 20px
    height 500px
