<section id="simulation2" class="prose">
  <p>Simulation 2 going here!</p>
  <p>Please note that these squares represent the REAL results. Make sure to make risk-limit and margin toggle-able</p>

  <p>Precinct 1</p>
  <svg id="precinct1" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 2</p>
  <svg id="precinct2" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 3</p>
  <svg id="precinct3" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 4</p>
  <svg id="precinct4" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 5</p>
  <svg id="precinct5" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 6</p>
  <svg id="precinct6" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 7</p>
  <svg id="precinct7" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 8</p>
  <svg id="precinct8" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 9</p>
  <svg id="precinct9" viewBox="0 0 100 10" style="background:white"></svg>

  <p>Precinct 10</p>
  <svg id="precinct10" viewBox="0 0 100 10" style="background:white"></svg>

  {{!-- <p>Running total</p>
  <svg id="running-total" viewBox="0 0 100 100" style="background:white"></svg> --}}
</section>
