<section id="simulation3" class="prose">
  <h2>The Power of RLAs</h2>
  <p>Now that we’ve seen how each type of audit is conducted, it’s time to put them to the test. Here is where we’ll see the real power of risk-limiting audits. You’ll have three sliders at your disposal: the ability to determine the total number of votes cast, the margin of victory, and the percentage of votes to check for the traditional type of audit. Play around with the sliders. Do you notice anything interesting?</p>

  <div id="simulation-control">
    <label for="ballots-cast-slider">
      Number of ballots cast: <span id="ballots-cast-num">100</span>
    </label>
    <div id="ballots-cast-slider" class="nouislider-custom"></div>


    <label for="margin-of-victory">
      Margin of victory: <span id="margin-victory-num">9%</span>
    </label>
    <div id="margin-of-victory" class="nouislider-custom"></div>



    <label for="traditional-audit-percent">
      Percentage of ballots to audit (traditional): <span id="audit-percent-num">3%</span>
    </label>
    <div id="traditional-audit-percent" class="nouislider-custom"></div>

  </div>
  <div>
    <h2>Number of ballots audited by traditional, fixed-percentage audit: <span id="traditional-number"></span></h2>
    <h2>Number of ballots audited by RLAs: <span id="rla-number"></span></h2>
  </div>

  <p>
    Now, try moving the total ballots cast slider to the end, 14 million. Now, move the margin of victory slider to 11%. Finally, move the traditional audit percentage to 3. Congratulations! This represents the 2008 Presidential race in California, where Barack Obama won 61% of the 13.7 million votes cast. A risk limiting audit would need to check just 97 ballots to have 90% confidence that the given result is not wrong. Meanwhile, California law at the time required significantly more ballots to check -- 137,000, or 1% of the 13,700,000 total ballots cast. WIth significantly fewer ballots to check, election officials can spend their resources auditing other races further down the ballot and upgrading voting equipment.
  </p>

</section>
