<section id="simulation1">
  <p>Simulation going here!</p>
  <svg viewBox="0 0 200 250" style="background:white"></svg>
  <label for="vote-percentage">
         blue % of vote: = <span id="vote-percentage-value">…</span>
  </label>
  <input type="range" min="0" max="100" id="vote-percentage">

</section>
