<section id="simulation1" class="prose">
  <p>Simulation 1 going here!</p>
  <svg viewbox="0 0 100 100" style="background:white"></svg>
  <label for="vote-percentage">
    blue % of vote: = <span id="vote-percentage-value">…</span>
  </label>
  {{!--  replace with  noUIslider import noUiSlider from 'nouislider' --}}
  <input type="range" min="0" max="100" id="vote-percentage">
  <br>
  <label for="audit-percentage">
    % of ballots to audit: = <span id="audit-percentage-value">…</span>
  </label>
  <input type="range" min="0" max="100" id="audit-percentage">

</section>
