<section id="simulation2" class="prose">
  <p>Simulation 2 going here!</p>
  <p>Please note that these squares represent the REAL results.</p>
  <svg viewBox="0 0 100 100" style="background:white"></svg>
  <button>Run audit!</button>
</section>
