.slide-content
  background-color #FFFFFF
  color $purple
  font-family 'Work Sans', sans-serif

  padding 25px

  +mq('bp-5')
    width 50%
    margin 0 auto

  h2
    font-size 20px
    font-family: 'Chivo', sans-serif;

  p
    font-size 16px
    text-align left

.simulation-content
  max-width 960px
  max-height 700px
  margin 0 auto
  padding-left 50px
  padding-right 50px

/* SIMULATION 2 STYLES */
#simulation2-container
  display flex
  flex-wrap wrap

  .precinct-container
    width 20%

#slider-container
  margin-bottom 25px
