<section id="intro" class="center" data-background="{{basepath}}assets/images/slide_backgrounds/slide2.png">
  <div class="slide-content">
    <h2>Introduction</h2>
    <p>
      To err is human. Whether it’s quality control at a factory, sending a meal back to the kitchen, a robust return
      policy, or the human capacity to forgive, our society has developed a myriad of ways to catch and correct our
      mistakes.

      Do we have an equivalent method to catch errors in our elections, whether malicious or otherwise? Turns out, we
      do: auditing! Today we’ll be exploring how we currently double-check our vote counts and why we should incorporate
      new techniques that will make it easier than ever to keep our elections safe and secure.
    </p>
  </div>
</section>
