<section id="intro" class="prose">
  <h2>Introduction</h2>
  <p>
    If programmers themselves joke about how hard it to count correctly, why do we turn over the most important count of them all -- counting the ballots after an election -- to machines? For all the obvious reasons: they work quickly, they never get tired, and they are never biased towards any particular party or platform. While computers might never make mistakes, the engineers who write the instructions they follow make mistakes all the time. And there are a myriad of environmental challenges that make perfect counts difficult such as dust blocking the optical sensors, power blips, and most dangerously of all, user error.
  </p>

  <p>
    For this reason, many states have implemented mandatory post-election audits.
  </p>
</section>
