<section id="outro">
  <h2>Conclusion</h2>
  <p>
    So, what have we learned? Here are some key takeaways:
  </p>

  <ul>
    <li>The procedure to conduct a ballot-polling risk-limiting audit is incredibly simple, as is the math behind it.
    </li>
    <li>Because we return ballots to the pool after we’ve checked them, the number of ballots we need to check depends
      on the margin of victory -- not the total number of ballots cast.</li>
    <li>Risk-limiting audits allow us to adjust the amount of risk we want to take for a given municipality’s risk
      profile and tolerance.</li>
  </ul>

  </p>
  We hope you’ve enjoyed this whirlwind tour of RLAs! But this page is just the beginning. There are many other great
  resources at your disposal, a sample of which are listed below:
  </p>
  <ul>
    <li><a href="https://www.stat.berkeley.edu/~stark/Preprints/gentle12.pdf">A Gentle Introduction to Risk-Limiting
        Audits</a></li>
    <li><a href="https://www.democracyfund.org/media/uploaded/2019_DF_KnowingItsRight_Part2.pdf">Risk-Limiting Audit
        Implementation Workbook</a></li>
    <li><a href="https://www.youtube.com/watch?v=gMbz0_dizoA">Making Every Vote Count: A Practical Guide to
        Risk-Limiting Audits</a></li>
  </ul>
</section>
